<!-- partials/cta.hbs -->
<aside class="flexy gapy-half">
    {{#if heading}}<h2>{{heading}}</h2>{{/if}}
    <form data-members-form="subscribe" class="flexy gapy-half">
        <label for="memberName" class="flexy row gapy-half">Name<input type="txt" name="name" id="memberName" autocomplete="name" required data-members-name /></label>
        <label for="memberEmail" class="flexy row gapy-half">Email<input type="email" name="email" id="memberEmail" autocomplete="email" required data-members-email /></label>
        {{#get "newsletters"}}{{#foreach newsletters}}<label><input type="checkbox" value="{{name}}" data-members-newsletter />{{name}}</label>{{else}}<p>There were no newsletters&hellip;</p>{{/foreach}}{{/get}}
        <div class="flexy row gapy-1 width-full">
            <input type="submit" value="Subscribe" />
            <input type="reset" value="Reset" />
        </div>
    </form>
</aside>