<!-- partials/social-media.hbs -->
<li class="social-icon"><a href="https://github.com/sabuein/tufan" title="GitHub" class="flexy" target="_blank" rel="noopener">
{{> "icons/github"}}
</a></li>
{{#if @site.facebook}}<li class="social-icon"><a href="{{facebook_url @site.facebook}}" title="Facebook" class="flexy" target="_blank" rel="noopener">F</a></li>{{/if}}
{{#if @site.twitter}}<li class="social-icon"><a href="{{twitter_url @site.twitter}}" title="X &lpar;formerly Twitter&rpar;" class="flexy" target="_blank" rel="noopener">X</a></li>{{/if}}