<!-- error-500.hbs -->
<h1>500&colon; Internal Server Error</h1>
<h2>We&apos;re sorry&comma; something went wrong&period;</h2>
<p>The page you requested unexpectedly failed to load&period; If the problem persists&comma; please contact our <a href="/help/" title="Help">help</a> for further assistance&period; That&apos;s all we know&period;</p>